<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="flashplayerplugin" />
	  <package id="googlechrome" />
	  <package id="firefox" />
	  <package id="7zip" />
	  <package id="jre8" />
	  <package id="notepadplusplus" />
	  <package id="vlc" />
	  <package id="skype" />
	  <package id="ccleaner" />
	  <package id="inkscape" />
	  <package id="paint.net" />
	  <package id="dropbox" />  
	  <package id="teamviewer" />
	  <package id="gimp" />
	  <package id="windirstat" />
	  <package id="irfanview" />
	  <package id="foxitreader" />
	  <package id="steam" />
	  <package id="qbittorrent" />
	  <package id="spotify" />
	  <package id="googleearthpro" />
	  <package id="openvpn" />
	  <package id="f.lux" />
	  <package id="imgburn" />	  
	  <package id="slack" />
	  <package id="eclipse" />
	  <package id="avastfreeantivirus" />
	  <package id="rocketdock" />
	  <package id="geforce-experience" />	  
	  <package id="androidstudio" />
	  <package id="kodi" />
	  <package id="miktex.install" />
	  <package id="geforce-game-ready-driver" />
	  <package id="texstudio" />	  
	  <package id="googledrive" />
	  <package id="manictime" />
	  <package id="sdformatter" />
	  <package id="etcher" />
	  <package id="vim" />
	  <package id="linkshellextension" />
    </packages>
	
	
	                                  