<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="visualstudio2017-installer " />
	  <package id="autohotkey.portable " />
	  <package id="git" />
	  <package id="putty" />
	  <package id="jdk8" />
	  <package id="filezilla" />
	  <package id="dotnet4.5" />
	  <package id="procexp" />
	  <package id="keepass" />
	  <package id="virtualbox" />
	  <package id="python2" />
	  <package id="openssh" />  
	  <package id="winscp" />
	  <package id="wireshark" />
	  <package id="visualstudiocode" />
	  <package id="python3" />
	  <package id="dotnet4.6.1" />
	  <package id="opera" />
	  <package id="fiddler4" />
	  <package id="tortoisegit" />
	  <package id="sql-server-management-studio" />   <!-- werkt niet -->
	  <package id="cpu-z" />
	  <package id="tightvnc" />
	  <package id="arduino" />	  
	  <package id="postman" />
	  <package id="gpu-z" />
	  <package id="httrack" />
	  <package id="curl" />
	  <package id="ruby" />
	  <package id="pdfcreator" />
	  <package id="libreoffice" />
	  <package id="chocolateygui" />
	  <package id="yumi" />
	  <package id="visualstudio2017community" /> 
	  <package id="sql-server-express" />
	  <package id="webdeploy" />  	  
    </packages>
	
	
                        
                         